<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.appvelox.permissionist">

    <application>
        <activity
            android:name=".PermissionistActivity"
            android:theme="@style/TransparentActivityTheme" />
    </application>

</manifest>